@import url('https://fonts.cdnfonts.com/css/dm-sans');
@import url('https://fonts.cdnfonts.com/css/caladea');
@import url('https://fonts.cdnfonts.com/css/inter');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
  
    background-color: #2C1F4A;
}

::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #37265d;
  }
    ::-webkit-scrollbar-thumb {
        background: #493b67;
      border-radius:10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    
    background: #555; 
  }